streamlit==1.46.1
ultralytics==8.3.154
opencv-python-headless==4.5.3.56
pillow==11.2.1
numpy==1.24.3  # Updated to avoid compilation errors
torch==2.7.1  # Ensure compatibility with torchvision
torchvision==0.22.1  # Compatible with torch==2.7.1
tenacity==9.1.2
